@charset 'utf-8';
//@use '_var' as *;
@use '_mixin' as *;
@use '_function' as *;
@use '_reset' as *;

div {
  outline: 1px dashed red;
}
//div{ width:pxToVw(50, 320); }
div {
  width: pxToVw(50, 320);
  font-size:pxToVw(16, 320);
}

@include viewport_LG() {
  div {
    width: 50%;
    font-size:pxToRem(32);
  }
}
