@charset 'utf-8';
//@use '_var' as *;
//@use 'common/mixin' as *;
//@use 'common/function' as *;
@use 'common/' as *;
/* 2023-04-28 :: START :: 디버깅시 사용 */
.RR {
  outline: 1px dashed red !important;
}
.RRR > * {
  outline: 1px dashed blue !important;
}
/* // 2023-04-28 :: END :: 디버깅시 사용 */
:root {
  font-size: $RootFontSize;
  @include 휴대폰에서만(){
    font-size: REM(32px);
  }
}

body {
  #page {
    outline: 1px dashed red;
    width: VW(100px);
    @include PC에서만() {
      width: 50%;
    }
  }
}

//div {
//  width: pxToVw(50, 320);
//  font-size:pxToVw(16, 320);
//}

//@include viewport_LG() {
//  div {
//    width: 50%;
//    font-size:pxToRem(32);
//  }
//}
