@charset 'utf-8';
@use 'common/' as *;
/* 2023-04-28 :: START :: 디버깅시 사용 */
.RR {
  outline: 1px dashed red !important;
}
.RRR > * {
  outline: 1px dashed blue !important;
}
/* // 2023-04-28 :: END :: 디버깅시 사용 */
:root {
  font-size: $RootFontSize;
  @include 휴대폰에서만(){
    font-size: REM(32px);
  }
}

body {
  #Page {
    outline: 1px dashed red;
    width: VW(100px);
    @include PC에서만() {
      width: 50%;
    }
  }
}