@charset "UTF-8";
:root {
  font-size: calc(10 / 428 * 100vw);
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: calc(10 / 1780 * 100vw);
  }
}
@media screen and (min-width: 1780px) {
  :root {
    font-size: 62.5%;
  }
}

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}

::selection {
  color: #303030;
  background: #a8d1ff;
}

::-moz-selection {
  color: #303030;
  background: #a8d1ff;
}

/* 모바일 터치시 영역 색상  */
/*:root{-webkit-tap-highlight-color:transparent;}*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

img,
picture,
video,
canvas,
button,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* iOS safari 클릭 딜레이 방지 */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

ul {
  list-style: none;
}

html,
body {
  line-height: 1;
}

[disabled] {
  pointer-events: none;
}

strong {
  font-weight: 700;
}

html.DEBUG .RR {
  outline: 1px dashed red !important;
}
html.DEBUG .RRR > * {
  outline: 1px dashed blue !important;
}
html.DEBUG .RRR2 > * {
  outline: 1px dashed yellow !important;
}

body #Header {
  background-color: white;
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
}
body.StickyHeader #Header {
  position: sticky;
  top: 0;
}
html[data-scroll-top-header-over=true][data-scroll-diretion=down] body.AutoHideHeader #Header {
  transform: translateY(calc(-1 * var(--header-hei)));
}

body.TransparentHeader #Header {
  background-color: transparent;
}
html[data-scroll-top-first-section-over=true] body.TransparentHeader #Header {
  background-color: white;
}

body.TransparentHeader #Header #Page > main {
  margin-top: calc(-1 * var(--header-hei));
}

/**/
.HamburgerBtn {
  outline: 1px dashed red;
  --bar-width: 0.3rem;
  --bar-gap: 0.35em;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  cursor: pointer;
}
.HamburgerBtn > span {
  width: 1.9rem;
  height: var(--bar-width);
  background-color: #000;
  border-radius: calc(var(--bar-width) / 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1), top 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
}
.HamburgerBtn > span::before, .HamburgerBtn > span::after {
  content: "";
  width: 100%;
  height: var(--bar-width);
  background-color: #000;
  border-radius: calc(var(--bar-width) / 2);
  position: absolute;
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1), top 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
}
.HamburgerBtn > span::before {
  top: calc(var(--bar-width) * -1 - var(--bar-gap));
}
.HamburgerBtn > span::after {
  top: calc(var(--bar-width) + var(--bar-gap));
}
.HamburgerBtn.On > span {
  transform: translateX(-50%) translateY(calc(-1 * var(--bar-width) / 2)) rotate(45deg);
}
.HamburgerBtn.On > span::before {
  transform: rotate(90deg);
  top: 0;
}
.HamburgerBtn.On > span::after {
  opacity: 0;
  top: 0;
}

body #Page > footer {
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
}
body.FixedFooter:not(.AutoHideFooter) #Page {
  padding-bottom: var(--footer-hei);
}
body.FixedFooter #Page > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
html[data-scroll-top-header-over=true][data-scroll-diretion=down] body.AutoHideFooter #Page > footer {
  transform: translateY(calc(var(--footer-hei)));
}

footer .Info-9a5abdc4 {
  color: #ffffff;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media screen and (min-width: 1024px) {
  footer .Info-9a5abdc4 {
    gap: 2rem;
  }
}
footer .Info-9a5abdc4 > li {
  position: relative;
}
footer .Info-9a5abdc4 > li + li:before {
  background-color: red;
  width: 0.1rem;
  background-color: #d1d1d1;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  position: absolute;
  z-index: 3;
  background-position: center;
  height: 2.3rem;
  left: -0.8rem;
}
@media screen and (min-width: 1024px) {
  footer .Info-9a5abdc4 > li + li:before {
    height: 1.5rem;
    left: -1rem;
  }
}

:root {
  --header-hei: 7.6rem;
  --footer-hei: 8.3rem;
  /**/
  --side-padding: 2rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --side-padding: 7rem;
  }
}

html,
body {
  font-family: "Pretendard Variable", sans-serif;
}

/**/
section {
  outline: 1px dashed red;
}
section > .Inner {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
section > .Inner > .Inner-2 {
  padding-left: var(--side-padding-2);
  padding-right: var(--side-padding-2);
}

/**/
.TopLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/**/
.TopBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/**/
.TopRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/**/
.BottomLeft {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

/**/
.BottomBetween {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/**/
.BottomRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/**/
.CenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CenterLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.CenterRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/**/
.Title-2f456bd8 {
  color: #656565;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
}

/*# sourceMappingURL=global.css.map */
