@charset 'utf-8';
@use 'common/' as *;
:root {
  font-size: $RootFontSize;
  @include 휴대폰에서만() {
    font-size: REM(32px);
  }
}

body {
  aside {
    outline: 1px dashed red;
    width: MVW(100px);
    @include PC에서만() {
      width: 50%;
    }
  }
}


