@charset 'utf-8';
@use 'common/' as *;
:root {
  --header-hei: 12rem;
  /**/
  --side-padding: 4rem;
  @include PC() {
    --side-padding: 14.5rem;
  }
}
/**/
section {
  outline: 1px dashed red;

  @include PC() {
    max-width: #{$NonScalePoint}px;
    margin-left: auto;
    margin-right: auto;
  }

  > .Inner {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
}
/**/
.TopLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/**/
.TopBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/**/
.TopRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
/**/
.BottomLeft {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
/**/
.BottomBetween {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/**/
.BottomRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/**/
.CenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CenterLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.CenterRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/**/
.HamBtn {
  outline: 1px dashed red;
  width: 6.47rem;
  aspect-ratio: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.83rem;

  > span {
    display: block;
    width: 100%;
    height: 0.416rem;
    background-color: black;
    border-radius: 0.208rem;
    transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
    will-change: auto;

    &:nth-child(1) {
      transform: rotate(45deg);
    }
  }
}
/**/
.HamburgerBtn {
  outline: 1px dashed red;

  --bar-width: 0.4rem;
  --bar-gap: 0.4em;

  width: 6.4rem;
  height: 6.4rem;

  position: relative;
  cursor: pointer;

  > span {
    width: 100%;
    height: var(--bar-width);
    background-color: #000;
    border-radius: calc(var(--bar-width) / 2);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
    will-change: auto;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: var(--bar-width);
      background-color: #000;
      border-radius: calc(var(--bar-width) / 2);
      position: absolute;
      transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
      will-change: auto;
    }

    &::before {
      top: calc(var(--bar-width) * -1 - var(--bar-gap));
    }

    &::after {
      top: calc(var(--bar-width) + var(--bar-gap));
    }
  }

  &.Active {
    > span {
      transform: translateY(calc(-1 * var(--bar-width) / 2)) rotate(45deg);
    }

    > span::before {
      transform: rotate(90deg);
      top: 0;
    }

    > span::after {
      opacity: 0;
      top: 0;
    }
  }
}

/**/
footer {
  .Info-9a5abdc4 {
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @include PC() {
      gap: 2rem;
    }

    > li {
      position: relative;

      & + li {
        &:before {
          background-color: red;
          width: 0.1rem;
          background-color: #d1d1d1;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          content: '';
          position: absolute;
          z-index: 3;
          background-position: center;

          height: 2.3rem;
          left: -0.8rem;
          @include PC() {
            height: 1.5rem;
            left: -1rem;
          }
        }
      }
    }
  }
}
