<footer class='bg-[#202020]'>
  <section>
    <div class='Inner pt-[9.92rem] pb-[10.05rem] pc:pb-[12.98rem]'>
      <article
        class='pc:flex pc:flex-row pc:items-start pc:justify-between pc:gap-[0]'
      >
        <div>
          <article>
            <div
              class='text-[#777777] text-[2.2rem] pc:text-[1.7rem] leading-[2.6rem] pc:leading-[2.0rem] font-extrabold'
            >CONTACT</div>
            <article>
              <div class='pc:hidden mt-[2.9rem] space-y-[1.33rem]'>
                <ul class='Info-9a5abdc4'>
                  <li>경북친환경농산물 연합사업단</li>
                  <li>대표 : 함영만</li>
                </ul>
                <ul class='Info-9a5abdc4'>
                  <li>사업자등록번호 : 314-81-01120</li>
                </ul>
                <ul class='Info-9a5abdc4'>
                  <li>전화번호 : 054-834-2200</li>
                  <li>이메일 : gborg@naver.com</li>
                </ul>
                <ul class='Info-9a5abdc4'>
                  <li>주소 : 경북 의성군 의성읍 문소3길 6, 2층</li>
                </ul>
              </div>
              <div class='hidden pc:block mt-[2.0rem] space-y-[0.6rem]'>
                <ul class='Info-9a5abdc4'>
                  <li>경북친환경농산물 연합사업단</li>
                  <li>대표 : 함영만</li>
                  <li>사업자등록번호 : 314-81-01120</li>
                  <li>전화번호 : 054-834-2200</li>
                </ul>
                <ul class='Info-9a5abdc4'>
                  <li>이메일 : gborg@naver.com</li>
                  <li>주소 : 경북 의성군 의성읍 문소3길 6, 2층</li>
                </ul>
              </div>
            </article>
            <div
              class='mt-[2.9rem] pc:mt-[3.7rem] text-[#9E9E9E] text-[1.8rem] pc:text-[1.4rem] font-light'
            >
              Copyright © gb-ola.co.kr ALL RIGHT RESERVED.
            </div>
          </article>
        </div>
        <div class='max-pc:mt-[8.23rem]'>
          <div
            class='hidden pc:block text-[#777777] text-[2.2rem] pc:text-[1.7rem] leading-[2.6rem] pc:leading-[2.0rem] font-extrabold'
          >SNS</div>
          <article
            class='CenterLeft pc:mt-[2.1rem] gap-[3.2rem] pc:gap-[2.0rem]'
          >
            <a
              href='https://www.google.com'
              target='_blank'
              class='w-[2.164rem] pc:w-[1.412rem]'
            >
              <img
                class='w-full'
                src='/asset/img/2402121708_1.svg'
                alt='페이스북'
              />
            </a>
            <a
              href='https://www.google.com'
              target='_blank'
              class='w-[3.52rem] pc:w-[2.298rem]'
            >
              <img
                class='w-full'
                src='/asset/img/2402121708_2.svg'
                alt='인스타'
              />
            </a>
            <a
              href='https://www.google.com'
              target='_blank'
              class='w-[4.017rem] pc:w-[2.622rem]'
            >
              <img
                class='w-full'
                src='/asset/img/2402121708_3.svg'
                alt='네이버블로그'
              />
            </a>
          </article>
        </div>
      </article>
    </div>
  </section>
</footer>