<footer class="bg-[#202020]">
  <section>
    <div class='Inner pt-[9.92rem] pb-[10.05rem] pc:pb-[12.98rem]'>
      <div class="text-[#777777] text-[2.2rem] pc:text-[1.7rem] font-extrabold">CONTACT</div>
    </div>
  </section>
</footer>