<footer
  id="Footer"
  class="bg-white h-[--footer-hei] border-t-[2px] border-t-[#18191F]"
>
  <section class="h-full">
    <div class="Inner h-full">
      <article class="h-full flex flex-row items-center justify-center">
        <div id="Hbs-2088ae21"></div>
        <script id="Tpl-2088ae21" type="text/x-handlebars-template">
          {{#EACH data}}
            <button class='flex-1'>
              <div class='text-center'>
                <div class='CenterCenter w-[3.0rem] aspect-square mx-auto'>
                  <img class="w-[3.0rem] aspect-square" src='{{obj.아이콘}}' alt='' />
                </div>
                <div
                  class='mt-[0.5rem] text-[#18191F] text-[1.4rem] font-[800]'
                >
                  {{obj.라벨}}
                </div>
              </div>
            </button>
          {{/EACH}}
        </script>
        <script>
          var url = '/asset/_json/footer_btn.json';
          var param = {};

          let data;

          $.ajax({
            url: url,
            method: 'GET',
            data: param,
            dataType: 'json',
            cache: false,
            async: false,
            timeout: 60 * 1000,
            success: function (response, status, xhr) {
              //console.log("AJAX success : " + url);
              console.log(response);
              data = response;
            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.log('AJAX error : ' + url);
              console.log('status : ' + jqXHR.status);
              console.log('textStatus : ' + textStatus);
            },
            complete: function (jqXHR, textStatus) {
              //console.log("AJAX complete : " + url);
            },
          });

          $(`#Hbs-2088ae21`).hbs($(`#Tpl-2088ae21`), { data });
          document.currentScript.remove();
        </script>
      </article>
    </div>
  </section>
</footer>
