<meta charset='UTF-8' />
<meta
  name='viewport'
  content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'
/>
<!-- appinfo -->
<script src='/asset/lib/ua-parser.min.js'></script>
<script src='/asset/lib/app_info.js'></script>
<!-- meta -->
<link rel='icon' href='data:,' />
<!-- core -->
<script src='/asset/lib/tailwindcss.min.js'></script>
<script src='/asset/lib/tailwindcss.config.js'></script>
<script src='/asset/lib/jquery/jquery.min.js'></script>
<script src='/asset/lib/jquery/jquery-helper.js'></script>
<script src='/asset/lib/jquery/jquery.easing.min.js'></script>
<script src='/asset/lib/handlebars/handlebars.js'></script>
<script src='/asset/lib/handlebars/handlebars-helper.js'></script>
<!-- lib -->
<script src='/asset/lib/gsap/gsap.min.js'></script>
<script src='/asset/lib/gsap/ScrollTrigger.min.js'></script>
<!-- common -->
<link
  rel='preload'
  href='/asset/font/PretendardVariable.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link href='/asset/font/Pretendard.css' rel='stylesheet' />
<link href='/asset/css/global.css' rel='stylesheet' />
<script src='/common.js'></script>
<!-- private -->
<title>main.html</title>