<header
  id='Header'
  class='StickyMode AutoHideMode TransparentMode h-[--header-hei]'
>
  <section class='h-full'>
    <div class='Inner h-full'>
      <article class='CenterBetween h-full'>
        <div>
          <a href='#' target='_blank' class='RR block w-[43.724rem]'>
            <img class='w-full' src='/asset/img/logo/header.svg' alt='' />
          </a>
        </div>
        <div>
          <div class='HamburgerBtn'>
            <span></span>
          </div>
        </div>
      </article>
    </div>
  </section>
</header>