<header class='text-[#161616] text-[36px] font-[800]'>
  HEADER
  <div id='Hbs-28216a99'></div>
  <script id='Tpl-28216a99' type='text/x-handlebars-template'>
    <div class='RR'>
    {{#EACH (ARR '🍎|🍍|🥝|🍇|🍈')}}
      <div class='text-[#161616] text-[20px] font-[800]'>
      {{obj}}
      </div>
    {{/EACH}}
    </div>
  </script>
  <script>
    $(`#Hbs-28216a99`).hbs($('#Tpl-28216a99'));
  </script>
</header>