$RootFontSize: 16px;
/**/
$DesignWidth_Mobile: 640px;// 디자인 파일 모바일 버젼 아트보드 너비
$DesignWidth_PC: 1280px;// 디자인 파일 PC 버젼 아트보드 너비
/**/
$BreakPoint_휴대폰: 320px; // 스마트폰이나 작은 태블릿을 위한 브레이크 포인트입니다.
$BreakPoint_태블릿: 768px; // 태블릿이나 큰 스마트폰을 위한 브레이크 포인트입니다.
$BreakPoint_랩탑: 1024px; // 데스크탑 컴퓨터나 태블릿을 위한 브레이크 포인트입니다.
$BreakPoint_데스크탑: 1200px; // 큰 모니터나 고해상도 디스플레이를 위한 브레이크 포인트입니다.
/**/
