@use 'var' as *;
html.DEBUG {
  .RR {
    outline: 1px dashed red !important;
  }
  .RRR > * {
    outline: 1px dashed blue !important;
  }
  .RRR2 > * {
    outline: 1px dashed yellow !important;
  }
}
