/*
 * ⭐ Cell Phone First ⭐
 * CP (Cell Phone) : 0 ~ 768
 * TBH (Tablet Horizontal) : 769 ~ 1779
 * PC : 1780 ~
 * ※ PC 디자인 너비 - 좌측 패딩 - 우측 패딩 = PC 브레이크 포인트
 * ※ 1920 - 70 - 70 = 1780
**/
//
$RootFontSize: 10;
//
$CellPhoneDesignWidth: 640; // 디자인 파일 모바일 버젼 아트보드 너비
$PCDesignWidth: 1920; // 디자인 파일 PC 버젼 아트보드 너비
//
$PCSidePadding: 70;
$BreakPoint_TBH: 769;
$BreakPoint_PC: calc($PCDesignWidth - $PCSidePadding - $PCSidePadding);

// Tablet Horizontal
@mixin TBH() {
  /* TB - 769px 이상 화면 - Tablet 디자인이 없다면 PC 디자인 적용 */
  @media screen and (min-width: #{$BreakPoint_TBH}px) {
    @content;
  }
}

// PC
@mixin PC() {
  /* PC - 1780px 이상 화면 - PC 디자인 적용*/
  @media screen and (min-width: #{$BreakPoint_PC}px) {
    @content;
  }
}
//
:root {
  /**/
  --side-padding: 4rem;
  @include TBH() {
    --side-padding: 7.5rem;
  }
}
